
<div class="container-fluid">
  <div class="row row-height">
    <div class="col-sm-3 left bg-warning">
      <h3>Your Mailbox</h3>
        <div>
          <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>
              <%unless !conversation.messages.last%>
                <% if conversation.messages.last.read == false && conversation.messages.last.user_id != current_user.id%>
                  <div>Conversation With:
                    <%= link_to recipient.name, {controller: "conversations", action: "index", id: conversation.id}, class: "btn btn-large btn-success "%>
                  </div>
                  <%else%>
                    <div>Conversation With:
                    <%= link_to recipient.name, {controller: "conversations", action: "index", id: conversation.id}, class: "btn btn-large btn-primary"%>
                  </div>
                <%end%>
              <%end%>
            <% end %>
          <% end %>
        </div>
      </div>


    <div class="no-pad col-sm-6 mid bg-primary">
      <%if @conversation%>
        <% if @conversation.sender_id != current_user.id%>
          <% other_user = @conversation.sender.name%>
        <%else%>
          <% other_user = @conversation.recipient.name%>
        <%end%>
        <div class="row sticky-top bg-success p-2 text-white bg-opacity-75">
          <div class="col"><h3><%= other_user%></h3></div>
          <div class="col"><%= link_to "Delete this conversation", conversation_path(@conversation), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-sm btn-secondary" %></div>
        </div>
        <div class="h-100 d-inline-block p-4">
          <%= render @conversation%>
        </div>
        <div class="row sticky-bottom bg-success p-2 text-white bg-opacity-75">
          <%= render "messages/form"%>
        </div>
      <%else%>
        <div class="fst-italic text-center mt-5">Click on a user to start a conversation...</div>
      <%end%>
    </div>

    <div class="col-sm-3 right bg-secondary">
      <h3>Users</h3>
      <div>
        <%@users.each do |user|%>
          <%if user.id != current_user.id%>
            <div>
              <%= link_to "#{user.name}", user%>
              <%= button_to "Send Message", {controller: "conversations", action: "create", sender_id: current_user.id, recipient_id: user.id}, class: "btn btn-large btn-primary"%>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>

